apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_ipaddresspool_name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for address_range in metallb_ip_address_ranges %}
  - {{ address_range }}
{% endfor %}
  autoAssign: {{ 'true' if metallb_pool_auto_assign else 'false' }}
  avoidBuggyIPs: {{ 'true' if metallb_pool_avoid_buggy_ips else 'false' }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ metallb_l2advertisement_name }}
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
  - {{ metallb_ipaddresspool_name }}
{% if metallb_l2_advertisement_interfaces | length > 0 %}
  interfaces:
{% for iface in metallb_l2_advertisement_interfaces %}
  - {{ iface }}
{% endfor %}
{% endif %}
