apiVersion: batch/v1
kind: Job
metadata:
  name: {{ airflow_minio_bucket_job_name }}
  namespace: {{ airflow_namespace }}
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: minio-client
        image: {{ airflow_minio_bucket_job_image | quote }}
        imagePullPolicy: IfNotPresent
        command:
        - /bin/sh
        - -ec
        - |
          mc alias set minio {{ airflow_minio_endpoint_url | quote }} {{ airflow_minio_access_key | quote }} {{ airflow_minio_secret_key | quote }}
          mc mb --ignore-existing minio/{{ airflow_minio_dags_bucket }}
          mc mb --ignore-existing minio/{{ airflow_minio_logs_bucket }}
