apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ airflow_postgresql_pv_name }}
  labels:
    app.kubernetes.io/name: airflow
    app.kubernetes.io/component: postgresql
spec:
  capacity:
    storage: {{ airflow_postgresql_storage_size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ airflow_pv_reclaim_policy }}
  storageClassName: {{ airflow_postgresql_storage_class | quote }}
  local:
    path: {{ airflow_postgresql_storage_path | quote }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ airflow_storage_node | quote }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ airflow_postgresql_pvc_name }}
  namespace: {{ airflow_namespace }}
  labels:
    app.kubernetes.io/name: airflow
    app.kubernetes.io/component: postgresql
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ airflow_postgresql_storage_size }}
  storageClassName: {{ airflow_postgresql_storage_class | quote }}
