apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ gravitino_persistence_existing_claim }}
  namespace: {{ gravitino_namespace }}
{% if gravitino_persistence_labels | length > 0 %}
  labels:
{% for label_key, label_value in gravitino_persistence_labels.items() %}
    {{ label_key }}: {{ label_value | quote }}
{% endfor %}
{% endif %}
{% if gravitino_persistence_annotations | length > 0 %}
  annotations:
{% for annotation_key, annotation_value in gravitino_persistence_annotations.items() %}
    {{ annotation_key }}: {{ annotation_value | quote }}
{% endfor %}
{% endif %}
spec:
  accessModes:
{% for access_mode in gravitino_persistence_access_modes %}
  - {{ access_mode }}
{% endfor %}
{% if gravitino_persistence_storage_class_name | trim | length > 0 %}
  storageClassName: {{ gravitino_persistence_storage_class_name | quote }}
{% endif %}
  resources:
    requests:
      storage: {{ gravitino_persistence_size | quote }}
