127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.30 node1 node1.dp.com
192.168.0.31 node2 node2.dp.com
192.168.0.32 node3 node3.dp.com
192.168.0.33 node4 node4.dp.com
192.168.0.34 node5 node5.dp.com
192.168.0.35 node6 node6.dp.com
192.168.0.36 node7 node7.dp.com

{{ haproxy_ingress_ip }} {% for service in services %} {{ service }}.{{ domain }} {% endfor %}
