apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ apache_kafka_haproxy_tcp_configmap_name }}
  namespace: {{ apache_kafka_haproxy_namespace }}
data:
{% for broker_idx in range(0, apache_kafka_broker_replicas | int) %}
  "{{ apache_kafka_external_port_start | int + broker_idx }}": "{{ apache_kafka_namespace }}/{{ apache_kafka_statefulset_name }}-{{ broker_idx }}-external:{{ apache_kafka_external_container_port }}"
{% endfor %}
{% if apache_kafka_schema_registry_enabled | bool and apache_kafka_schema_registry_external_enabled | bool %}
  "{{ apache_kafka_schema_registry_external_port }}": "{{ apache_kafka_namespace }}/{{ apache_kafka_schema_registry_service_name }}:{{ apache_kafka_schema_registry_port }}"
{% endif %}
