apache-airflow-providers-amazon
apache-airflow-providers-apache-beam
apache-airflow-providers-apache-druid
apache-airflow-providers-apache-flink
apache-airflow-providers-apache-iceberg
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-pinot
apache-airflow-providers-apache-spark
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-databricks
apache-airflow-providers-dbt-cloud
apache-airflow-providers-docker
apache-airflow-providers-elasticsearch
apache-airflow-providers-fab
apache-airflow-providers-http
apache-airflow-providers-jdbc
apache-airflow-providers-mysql
apache-airflow-providers-oracle
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sftp
apache-airflow-providers-smtp
apache-airflow-providers-snowflake
apache-airflow-providers-ssh
apache-airflow-providers-trino
apache-airflow[statsd]