apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-vip
    image: {{ kube_vip_image }}
    imagePullPolicy: IfNotPresent
    args:
      - manager
    env:
      - name: vip_arp
        value: "true"
      - name: port
        value: "6443"
      - name: vip_interface
        value: "{{ vip_interface }}"
      - name: vip_subnet
        value: "32"
      - name: cp_enable
        value: "true"
      - name: cp_namespace
        value: "kube-system"
      - name: vip_ddns
        value: "false"
      - name: svc_enable
        value: "false"
      - name: vip_leaderelection
        value: "true"
      - name: vip_leaseduration
        value: "15"
      - name: vip_renewdeadline
        value: "10"
      - name: vip_retryperiod
        value: "2"
      - name: address
        value: "{{ k8s_vip }}"
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
        - SYS_TIME
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
  hostAliases:
  - ip: 127.0.0.1
    hostnames:
    - kubernetes
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
  volumes:
  - hostPath:
      path: "{{ '/etc/kubernetes/super-admin.conf' if inventory_hostname == first_cp else '/etc/kubernetes/admin.conf' }}"
    name: kubeconfig
