apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    bgp: Disabled
    nodeAddressAutodetectionV4:
      kubernetes: NodeInternalIP
    ipPools:
    - blockSize: 26
      cidr: {{ pod_cidr }}
      encapsulation: VXLAN
      natOutgoing: Enabled
      nodeSelector: all()
