replicas: {{ flink_operator_replicas }}

{% if flink_operator_watch_namespaces | length == 0 %}
watchNamespaces: []
{% else %}
watchNamespaces:
{% for watched_namespace in flink_operator_watch_namespaces %}
- {{ watched_namespace }}
{% endfor %}
{% endif %}

webhook:
  create: {{ 'true' if flink_operator_webhook_enabled else 'false' }}

rbac:
  create: true
  nodesRule:
    create: {{ 'true' if flink_operator_rbac_nodes_rule_enabled else 'false' }}
