---
apiVersion: v1
kind: Service
metadata:
  name: {{ metabase_metadata_postgresql_service_name }}
  namespace: {{ metabase_namespace }}
  labels:
    app: {{ metabase_metadata_postgresql_statefulset_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ metabase_metadata_postgresql_statefulset_name }}
  ports:
  - name: postgres
    port: {{ metabase_database_port }}
    targetPort: {{ metabase_database_port }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ metabase_metadata_postgresql_statefulset_name }}
  namespace: {{ metabase_namespace }}
  labels:
    app: {{ metabase_metadata_postgresql_statefulset_name }}
spec:
  serviceName: {{ metabase_metadata_postgresql_service_name }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ metabase_metadata_postgresql_statefulset_name }}
  template:
    metadata:
      labels:
        app: {{ metabase_metadata_postgresql_statefulset_name }}
    spec:
      containers:
      - name: postgresql
        image: "{{ metabase_metadata_postgresql_image_repository }}:{{ metabase_metadata_postgresql_image_tag }}"
        imagePullPolicy: {{ metabase_metadata_postgresql_image_pull_policy }}
        ports:
        - name: postgres
          containerPort: {{ metabase_database_port }}
        env:
        - name: POSTGRES_DB
          value: {{ metabase_database_name | quote }}
        - name: POSTGRES_USER
          value: {{ metabase_database_user | quote }}
        - name: POSTGRES_PASSWORD
          value: {{ metabase_database_password | quote }}
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - pg_isready -h 127.0.0.1 -p {{ metabase_database_port }} -U {{ metabase_database_user }} -d {{ metabase_database_name }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - pg_isready -h 127.0.0.1 -p {{ metabase_database_port }} -U {{ metabase_database_user }} -d {{ metabase_database_name }}
          initialDelaySeconds: 30
          periodSeconds: 20
          timeoutSeconds: 5
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        app: {{ metabase_metadata_postgresql_statefulset_name }}
    spec:
      accessModes: ["{{ metabase_metadata_postgresql_storage_access_mode }}"]
      resources:
        requests:
          storage: {{ metabase_metadata_postgresql_storage_size }}
{% if metabase_metadata_postgresql_storage_class_name | trim | length > 0 %}
      storageClassName: {{ metabase_metadata_postgresql_storage_class_name | quote }}
{% endif %}
